@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins' , sans-serif;
    margin: 0;
    overflow-x: hidden;
   
}

h1{
    margin: 10px;
}

img {
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 40vw;
    position: relative;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(200%);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even){
    transform: translateX(-200%);
}

.box.show {
    transform: translateX(0);
}

